body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: bold;
  z-index: 10;
}

.topbar {
  grid-column: 1 / span 2;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.topbar nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.sidebar {
  border-right: 2px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black;
}

.projects {
  margin-top: 10px;
  overflow-y: auto;
}

.project {
  border: 1px solid black;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  padding: 20px;
}

.project {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.project-details {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #222;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  z-index: 10;
}

.project:hover .project-details {
  display: block;
}


/* login */
.registration {
  background-color: #D9D9D9;
  width: 640px;
  height: 480px;
  border-radius: 25px;
  display: block;
}

h1 {
  padding-top: 50px;
  margin-left: 50px;
}

#login {
  width: 540px;
  height: 80px;
  border-radius: 25px;
  border: none;
  margin-top: 15px;
  padding-left: 50px;
}

#noAcc {
  background-color: #D9D9D9;
  border: none;
  width: 200px;
  height: 1px;
  margin-top: 15px;
  cursor: pointer;
}
